flows4.json
[{"id":"29c889ec.f1de06","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"eb05c9b4.9dfe48","type":"http in","z":"29c889ec.f1de06","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["4e9bdb2b.de5544"]]},{"id":"70b07e31.1d87f","type":"rpi-gpio in","z":"29c889ec.f1de06","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":180,"y":220,"wires":[["10687602.463a3a"]]},{"id":"10687602.463a3a","type":"function","z":"29c889ec.f1de06","name":"Set GPIO","func":"global.set(\"GPIO\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["2abef3a3.a514ac"]]},{"id":"4e9bdb2b.de5544","type":"function","z":"29c889ec.f1de06","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["e0445928.f4b898","2abef3a3.a514ac"]]},{"id":"e0445928.f4b898","type":"http response","z":"29c889ec.f1de06","name":"","statusCode":"","headers":{},"x":600,"y":120,"wires":[]},{"id":"2abef3a3.a514ac","type":"debug","z":"29c889ec.f1de06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":260,"wires":[]}]